@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: radial-gradient(circle at center, #98C1D9 47%, #516673 100%);
}
body main{
  position: relative;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, span, input, textarea, label, li, a, button{
  color: #293241;
  cursor: default;
  font-family: "Onest", serif;
}
.social{
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: #d3eef0;
}
