.container-h1{
  width: 380px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1{
  width: 100%;
  font-weight: 600;
}
h1 span:nth-child(n){
  display: inline-block;
  position: absolute;
}
h1 span:nth-child(1){
  top: 0px;
  transform: rotate(-8.78deg);
  font-size: 100px;
}
h1 span:nth-child(2){
  top: 80px;
  right: 40px;
  transform: rotate(7.32deg);
  font-size: 60px;
}
h1 span:nth-child(3){
  top: 130px;
  left: 35px;
  transform: rotate(4.61deg);
  font-size: 60px;
}
